<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Address Book</title>
</head>
<body>
<header class="flex pa3 bg-navy">
<div class="w-33">
<h1 class="f2 avenir washed-blue">Address Book</h1>
</div>
<div class="w-33">
    
</div>
<div class="w-33">
    
</div>
</header>
    {{{body}}}
</body>
</html>