<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Address Book</title>
</head>
<body>
<header class="flex pa3 bg-navy">
<div class="w-25">
<a class="link" href="/"><h1 class="f2 avenir washed-blue">Address Book</h1></a>
</div>
<div class="w-25">
    
</div>
<div class="w-25">
    
</div>
<div class="w-25 tr-1 avenir pt4">
    <a class="link washed-blue f6 f5-l dib mr3 mr4-l" href="#" title="Home">Sign up</a>
    <a class="link washed-blue f6 f5-l dib mr3 mr4-l" href="#" title="How it Works">Login</a>
    <a class="link washed-blue f6 f5-l dib" href="../contact" title="Contact">Contact</a>
</div>
</header>
    {{{body}}}
</body>
</html>