$body-color: #F0F0FF;
$main-color: #001b44;
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    background-color: $body-color;

    h1{
        font-family: 'Poppins', sans-serif;
    }

    .contact{
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        background: #fff;
        color: $main-color;
        font-size: 16px;
        box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.25);
        margin: auto;
        width: 55%;
        padding: 10px;
        button{
            border: 0;
            
        }
        h3{
            font-family: 'Poppins', sans-serif; 
            color:$main-color;
            text-transform: uppercase;
        }
        label{
            font-family: 'Poppins', sans-serif; 
        }
    }
}